<ul class="list-group">
<% @recipes.each do |recipe| %>
    <li class="list-group-item">
        <%= link_to recipe.name, recipe %>
        <%= link_to 'Usuń', recipe, method: :delete, data: { confirm: 'Jesteś pewny, że chcesz usunąć przepis?' }, class: "btn btn-danger btn-xs pull-right" %>
        <%= link_to 'Edytuj', edit_recipe_path(recipe), class: "btn btn-info btn-xs pull-right" %>
    </li>
<% end %>
</ul>