= form_for @photo, :url => photos_path, :html => { :multipart => true } do |form|
  .form-group
    = form.file_field :image
  = submit_tag 'Zapisz', class: 'btn btn-primary'
  = link_to 'Anuluj', photos_path, class: "btn btn-default"